@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap");
/* Обнуление стилей */

* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
body {
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
}
.wraper {
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 900px;
    margin: 0px auto;
}
.language_row {
}
.content_language {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 20px 40px;
}
.phone_img {
    width: 15px;
    height: 15px;
}
.tell {
    margin-right: 50px;
}
.tell a {
    text-decoration: none;
    color: #000000;
}
.tell_link {
    text-decoration: none;
    outline: none;
    display: flex;
    width: 100%;
    height: 20 px;
    line-height: 35px;
    border-radius: 45px;
    margin: 0px 5px;
    font-size: 14px;
    text-transform: uppercase;
    align-items: baseline;
    letter-spacing: 1px;
    font-weight: 400;
    color: #000000;
    background: #2ee59d;
    box-shadow: 0 8px 10px rgba(101, 255, 140, 0.1);
    transition: 0.3s;
}
.tell_link:hover {
    background: #fff;
    box-shadow: 0 15px 20px rgba(28, 23, 7, 0.4);
    color: #040404;
    transform: translateY(-2px);
}
.phone_img {
    margin: 0px 10px;
}
.ru {
    color: #766e6e;
    font-size: 18px;
    margin: 10px;
}
.ua {
    color: #000000;
    font-size: 16px;
    margin: 10px;
}
.ua:hover {
    color: #000000;
}
.ru:hover {
    color: #000000;
}

.content {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: static;
}

.title_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    height: calc(100vh - 13.38vh);
    margin-left: 10px;
    margin-top: 40px;
    margin-right: 20px;
    z-index: 2;
}
.main__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 50px;
    opacity: 0.8;
    text-align: center;
}
.description {
    max-width: 550px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
    text-shadow: rgb(255, 255, 255) 0 0 2px;
    color: #040404;
}
.about-us {
}
.about-us_row {
    display: flex;
    flex-direction: column;
}
.about-us__bloc {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
}
.about-us_img {
    margin-right: 10px;
    z-index: 2;
}
.about-us__text {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #040404;
    z-index: 2;
}
.about-us__text-main {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.product {
    padding-top: 40px;
    background-image: url("../img/bg.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.product__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    opacity: 0.6;
    margin-bottom: 20px;
    color: #040404;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product_item-card_wrap {
    background: white;
    height: 540px;
    margin-top: 10px;
    border-radius: 2% 2% 0% 0%;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fotorama {
    margin: 15px;
}
.img-item {
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 5px 20px 0px 5px;
}
.card-title {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
}
.card-text {
    width: 350px;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    text-align: inherit;
    margin: 0px 20px 0px 20px;
}
/* Акордион */
.accordion {
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 5px 18px;
    width: 100%;
    border: none;
    text-align: center;
    word-wrap: break-word;
    line-height: 20px;
    outline: none;
    font-size: 14px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #9495a5;
}

.accordion:after {
    content: "\002B";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.card-price {
    margin-top: 20px;
    color: #01011b;
    font-size: 12px;
}
.price_bolt {
    font-size: 36px;
}
.btns {
    display: flex;
    justify-content: space-between;
}
.modal-title {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.modal-body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
    text-align: justify;
    line-height: 24px;
    text-indent: 1.5em;
    margin: 10px;
}
/* Кнопки */
.button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 80%;
    height: 45 px;
    line-height: 45px;
    border-radius: 45px;
    margin: 30px 0px 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    color: #000000;
    background: #2ee59d;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.button:hover {
    background: #fff;
    box-shadow: 0 15px 20px rgba(1, 5, 4, 0.4);
    color: #040404;
    transform: translateY(-1px);
}
.button-1 {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 80%;
    height: 45 px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 5px 10px 0px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    color: #000000;
    background: #2ee59d;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.button-1:hover {
    background: #fff;
    box-shadow: 0 15px 20px rgba(1, 5, 4, 0.4);
    color: #040404;
    transform: translateY(-1px);
}
.button-2 {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 80%;
    height: 45 px;
    line-height: 45px;
    border-radius: 45px;
    margin: 0px 5px 10px 0px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    color: #000000;
    background: #e8bb4f;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.button-2:hover {
    background: #fff;
    box-shadow: 0 15px 20px rgba(1, 5, 4, 0.4);
    color: #040404;
    transform: translateY(-1px);
}
.technical_data {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}
.MsoTableGrid {
    border: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    width: 100%;
    margin: 15px;
}
.MsoTableGrid p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #040404;
}
.table_bolt {
    color: #414141;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}
.table_bolt2 {
    color: #414141;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.contact__row {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact__card {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_contact {
    margin: 5px;
    width: 30px;
    height: 30px;
}
.contact__title {
    display: flex;
    align-items: baseline;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #0d054f;
    margin-bottom: 15px;
}
.contact__discription {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    color: #7a7a97;
    line-height: 25px;
}
.tell_link-btn {
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: baseline;
    font-weight: 300;
    color: #7a7a97;
}
.tell_link-btn img {
    margin: 0px 5px 0px 0px;
}
.mail {
    text-decoration: none;
    color: #7a7a97;
}
.map {
    height: 355px;
}

.footer {
    background-color: #f5f5f5;
    flex: 0 0 auto;
}
.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}
.footer__text {
    color: #445162;
    font-size: 12px;
    letter-spacing: 0.3px;
}
@media (max-width: 975px) {
    .main__text {
        font-size: px;
        text-align: left;
        margin-bottom: 20px;
    }
    .description {
        font-size: 18px;
        line-height: 25 px;
        color: #414141;
    }
    .title_main {
        margin-left: 10px;
        margin-top: 30px;
    }
    .product_item-card_wrap,
    .technical_data {
        width: 820px;
    }
    .MsoTableGrid {
        display: flex;
        width: 560px;
        margin: 0 auto;
    }
    .accordion {
        margin-bottom: 10px;
    }
    .table_bolt2 {
        font-size: 16px;
        letter-spacing: 2px;
    }
    .table-text_r {
        text-align: center;
    }
}
@media (max-width: 818px) {
    .content_language {
        justify-content: center;
    }
    .about-us__bloc {
        margin-top: 20px;
    }
    .about-us_row {
        margin: 0 auto;
    }
    .main__text {
        font-size: 38px;
        text-align: center;
    }
    .description {
        text-align: center;
    }
    .title_main {
        max-width: 100%;
        margin-left: 20px;
        margin-top: 40px;
        margin-right: 20px;
        z-index: 2;
    }
    .product_item-card_wrap {
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .card-text {
        max-width: 560px;
        font-size: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .card-body {
        margin-left: 15px;
        margin-right: 15px;
        align-items: center;
    }
    .button {
        margin: 10px 20px 30px 20px;
    }
}
@media (max-width: 580px) {
    .about-us__text {
        font-size: 12px;
        line-height: 16px;
    }
    .description {
        font-size: 16px;
    }
    .product__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 22px;
    }
    .contact__row {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .contact__card {
        margin-bottom: 30px;
    }
    .contact__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .MsoTableGrid {
        display: flex;
        width: 320px;
        margin: 0 auto;
    }
    .accordion {
        margin-bottom: 10px;
    }
    .table_bolt2 {
        font-size: 12px;
        letter-spacing: 2px;
    }
    .MsoTableGrid p {
        font-weight: 300;
        font-size: 12px;
        color: #040404;
    }
    .table-text_r {
        text-align: right;
    }
}
@media (max-width: 480px) {
    .logo__text {
        font-size: 16px;
    }
    .main__text {
        font-size: 38px;
    }
    .about-us {
        margin: 0;
    }
    .card-text {
        padding: 0px 5px;
        max-width: 320px;
    }
    .tell_link {
        font-size: 10px;
    }
    .phone_img {
        margin: 5px;
    }
    .content_language {
        margin: 20px 10px;
    }
    .button {
        width: 250px;
    }
    .contact__row {
        height: 100vh;
    }
    .map {
        height: 100vh;
    }
}
@media (max-height: 580px) {
    .content_language {
        margin: 10px;
    }
    .title_main {
        margin-top: 20px;
    }
    .main__text {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .about-us__bloc {
        margin: 10px 0px;
    }
    .about-us {
        margin-top: 10px;
    }
    .description {
        margin: 0;
    }
    .about-us__bloc {
        margin-top: 20px;
    }
}
@media (max-height: 320px) {
    .title_main {
        margin: 5px;
    }
    .about-us {
        margin: 10px;
    }
    .description {
        margin: 0;
    }
    .about-us__bloc {
        margin: 5px;
    }
}
