@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
/* Обнуление стилей */

* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
body {
    font-family: "Oswald", sans-serif;
}
.wraper {
    overflow: hidden;
    overflow-y: hidden; /*для вертикального*/
    overflow-x: hidden;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 900px;
    margin: 0px auto;
}
.content {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 11, 16, 0.3);
    z-index: 1;
}
.title_main {
    max-width: 500px;
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 20px;
    z-index: 2;
}
.main__text {
    font-size: 46px;
    text-align: left;
    margin-bottom: 20px;
}
.description {
    font-size: 24px;
    color: #414141;
}
.about-us {
    margin-top: 60px;
}
.about-us_row {
    display: flex;
    flex-direction: column;
}
.about-us__bloc {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 40px;
    z-index: 2;
}
.about-us_img {
    margin-right: 10px;
    z-index: 2;
}
.about-us__text {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    z-index: 2;
}
.about-us__text-main {
}
.product {
    margin-top: 40px;
}
.product__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product__title {
    font-size: 46px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: rgb(3, 19, 53) 0 0 2px;
}
.product_item-card_wrap {
    height: 540px;
    margin-top: 10px;
    border-radius: 2% 2% 0% 0%;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fotorama {
    margin: 15px;
}
.img-item {
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 5px 10px 0px 5px;
}
.card-title {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    text-shadow: rgb(3, 19, 53) 0 0 2px;
}
.card-text {
    width: 350px;
    height: 100%;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    margin: 0px 20px 0px 20px;
}
/* Акордион */
.accordion {
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 5px 18px;
    width: 100%;
    border: none;
    text-align: center;
    line-height: 20px;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #2ee59d;
}

.accordion:after {
    content: "\002B";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.card-price {
    margin-top: 20px;
    color: #01011b;
    font-size: 12px;
}
.price_bolt {
    font-size: 36px;
}
/* Кнопка */
.button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 100%;
    height: 45 px;
    line-height: 45px;
    border-radius: 45px;
    margin: 30px 20px 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    color: #000000;
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.button:hover {
    background: #2ee59d;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    color: white;
    transform: translateY(-2px);
}
.technical_data {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}
.MsoTableGrid {
    border: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    width: 100%;
    margin: 15px;
}
.MsoTableGrid p {
    font-weight: 300;
    font-size: 16px;
    color: #040404;
}
.table_bolt {
    color: #414141;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}
.table_bolt2 {
    color: #414141;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}
.contact__row {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.contact__card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__title {
    font-size: 24px;
    color: #0d054f;
    margin-bottom: 15px;
}
.contact__discription {
    font-size: 14px;
    text-align: center;
    color: #7a7a97;
}
.footer {
    background-color: #f5f5f5;
    flex: 0 0 auto;
}
.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}
.footer__text {
    color: #445162;
    font-size: 12px;
    letter-spacing: 0.3px;
}
@media (max-width: 975px) {
    .main__text {
        font-size: px;
        text-align: left;
        margin-bottom: 20px;
    }
    .description {
        font-size: 18px;
        line-height: 25 px;
        color: #414141;
    }
    .title_main {
        margin-left: 10px;
        margin-top: 30px;
    }
    .product_item-card_wrap,
    .technical_data {
        width: 820px;
    }
    .MsoTableGrid {
        display: flex;
        width: 560px;
        margin: 0 auto;
    }
    .accordion {
        margin-bottom: 10px;
    }
    .table_bolt2 {
        font-size: 16px;
        letter-spacing: 2px;
    }
    .table-text_r {
        text-align: center;
    }
}
@media (max-width: 818px) {
    .content {
        background: whitesmoke;
    }
    .about-us_row {
        margin: 0 auto;
    }
    .main__text {
        font-size: 48px;
        text-align: center;
    }
    .description {
        text-align: center;
    }
    .title_main {
        max-width: 100%;
        margin-left: 20px;
        margin-top: 40px;
        margin-right: 20px;
        z-index: 2;
    }
    .product_item-card_wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fotorama {
        width: 480px;
    }
    .card-text {
        max-width: 560px;
        font-size: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .card-body {
        margin-left: 15px;
        margin-right: 15px;
        align-items: center;
    }
}
@media (max-width: 560px) {
    .contact__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact__card {
        margin-bottom: 10px;
    }
    .MsoTableGrid {
        display: flex;
        width: 320px;
        margin: 0 auto;
    }
    .accordion {
        margin-bottom: 10px;
    }
    .table_bolt2 {
        font-size: 12px;
        letter-spacing: 2px;
    }
    .MsoTableGrid p {
        font-weight: 300;
        font-size: 12px;
        color: #040404;
    }
    .table-text_r {
        text-align: right;
    }
}
@media (max-width: 480px) {
    .logo__text {
        font-size: 16px;
    }
    .main__text {
        font-size: 38px;
    }
    .about-us {
        margin: 0;
    }
    .card-text {
        padding-left: 5px;
        max-width: 320px;
    }
}
